@font-face {
  font-family: PP Neue Montreal;
  src: url("font/PPNeueMontreal-Variable.woff2") format("woff2");
  font-style: normal;
  font-weight: 300 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #070707;
  color: #adacac;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100vh;
}

p {
  font-family: "Sentient", serif;
  font-weight: 300;
}
a,
span {
  font-family: "PP Neue Montreal";
  color: #c5c5c5;
  font-weight: normal;
  letter-spacing: 1px;
}

a {
  text-decoration: none;
  position: relative;

  &::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0.1rem;
    background-color: #c5c5c5;
    width: 100%;
    left: 0;
    bottom: 0px;
    transform: scale(0, 1);
    transform-origin: 50% 100%;
    transition: transform 0.2s ease-in-out;
  }

  &:hover::after {
    transform: scale(1, 1);
    transform-origin: 50% 100%;
  }

  // &::selection {
  //   background-color: #85a59f;
  //   color: #e1e1e1;
  // }
}

img {
  width: 100%;
}

.child-1 {
  display: flex;
  justify-content: space-between;
  align-items: start;
  width: 100%;

  .info {
    width: 30%;
    p {
      line-height: 140%;
      margin-bottom: 16px;
    }
  }

  .project {
    width: 50%;
    p {
      font-weight: 300;
      margin-bottom: 16px;
    }
    .work {
      width: 100%;
      display: flex;
      flex-wrap: wrap;

      p {
        width: 300px;
        margin-bottom: 16px;
        margin-right: 16px;

        a {
          text-decoration: underline;
          &::after {
            display: none !important;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 900px) {
  body {
    height: 100%;
  }

  .child-1 {
    flex-direction: column;

    .info {
      width: 40%;
      margin-bottom: 40px;
    }

    .project {
      margin-left: auto;
      width: 30%;
      margin-bottom: 56px;
      margin-right: 0 !important;

      p {
        margin-left: auto;
        width: 300px;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .info,
  .project {
    width: 100% !important;

    p {
      width: 100% !important;
    }
  }
}
